:root {
    --sidebar-width: 12rem;
    --border-color: rgb(94, 94, 94);
}

/* Container */
.layoutContainer {
    display: flex;
    height: 100dvh;
    width: 100%;
}

/* Sidebar */
.sidebar {
    box-sizing: border-box;
    width: var(--sidebar-width);
    padding: 1rem;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-x: hidden;
}

/* Sidebar header */
.sidebarHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* Sidebar nav links */
.sidebarNav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.sidebarLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.2s;
}

.sidebarLinkActive {
    background-color: rgb(31, 31, 31);
    color: rgb(221, 221, 221);
    font-weight: 600;
}

.sidebarLink:hover {
    background-color: #f3f4f6;
}

.sidebarFooter {
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.5rem;
}

.logout {
    color: #dc2626;
}

/* Main content */
.mainContent {
    flex: 1;
    padding: 1rem;
    background-color: 242424;
}
