# --------------------------
# Node.js / general
# --------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------------
# TypeScript
# --------------------------
dist/
build/
*.tsbuildinfo

# --------------------------
# Environment files
# --------------------------
.env
.env.local
.env.*.local

# --------------------------
# VSCode / IDEs
# --------------------------
.vscode/*

# --------------------------
# Mac / OS
# --------------------------
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
